<% provide(:title, 'Sign up') %>
<div class="self-center mx-auto max-w-sm w-full">
  <h1 class="font-bold text-4xl">Sign up</h1>
  <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages' %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  <% end %>
</div>
