<% provide(:title, @user.name) %>

<div class="flex flex-col md:flex-row gap-4">
  <aside>
    <section>
      <h1 class="flex gap-2 items-center self-start text-3xl">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="mt-4">
    <%= render 'follow_form' if logged_in? %>
  </div>
  <% if @user.microposts.any? %>
    <section>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol>
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    </section>
  <% end %>
</div>