<header class="app-header flex items-center w-full p-2 bg-zinc-800 shadow-xl">
  <%= link_to "sample app", root_path, id: "logo", class: 'text-2xl font-bold uppercase' %>
  <nav class="ml-auto flex gap-2 items-center">
    <%= link_to "Home", root_path, class: 'nav-link' %>
    <%= link_to "Help", help_path, class: 'nav-link' %>
    <% if logged_in? %>
      <%= link_to "Users", users_path %>
      <%= render 'shared/account_dropdown' %>
    <% else %>
      <%= link_to "Log in", login_path %>
    <% end %>
  </nav>
</header>

